@model MvcAuction.Models.Auction

<div class="partialView" >
    <p style="font-style:oblique">
        @Model.Title.ToString();
    </p>
    <p>
        @Model.StartPrice.ToString();
    </p>
    <p>
        @Model.StartTime.ToString();
    </p>
</div>

